@import "tailwindcss";

@theme {
  --color-brand-white: #ffffff;
  --color-brand-black: #000000;
  --color-brand-dark-900: #101026;
  --color-brand-dark-700: #1d1d1d;
  --color-brand-gray-100: #8a8a8a;
  --color-brand-green-900: #3fffa3;
  --color-brand-red-900: #ff3d4e;
}

body {
  @apply bg-brand-dark-700;
}
